.well.block-padding.col14.coloffset1.row16
	a.btn.btn-success.btn-large.pull-right(href='#/playlist?new') New playlist
	h2 My playlists ({{playlists.length}})
	ul.playlist-list
		li(
			ng-repeat='playlist in playlists',
			ng-click='loadPlaylist(playlist)'
		) 
			.title {{playlist.title}} 
				button.btn.btn-danger.pull-right(
					ng-click='deletePlaylist(playlist)'
				) Delete

				ng-pluralize.video-count(
					count='playlist.items.length',
					when='{0: "", "one": "one video", "other": "{} videos"}'
				)

			ul.horizontal-video-list
				li(
					ng-repeat='item in playlist.items', 
					video-thumbnail='item.video'
				)
