!!! 5
html(lang='en', ng-app='app')
	head
		meta(charset='utf-8')
		title YoutubeInstantPlaylist
		
		link(href='lib/bootstrap/less/bootstrap.css', rel='stylesheet', type='text/css')
		link(href='stylesheets/app/app.css', rel='stylesheet', type='text/css')

		script(src='lib/jquery/jquery-1.7.1.min.js', type='text/javascript')
		script(src='lib/jquery/jquery-ui-1.8.21.custom.min.js', type='text/javascript')
		script(src='lib/jquery/jquery-ui-sortables-custom.js', type='text/javascript')
		script(src='lib/bootstrap/js/bootstrap.min.js', type='text/javascript')
		script(src='lib/bootstrap/js/twitter-bootstrap-hover-dropdown.min.js', type='text/javascript')
		script(src='lib/angular.min.js', type='text/javascript')
		script(src='lib/angular-ui/angular-ui.js', type='text/javascript')
		script(src='lib/angular-strap.js', type='text/javascript')
		script(src='lib/jquery.tinyscrollbar.min.js', type='text/javascript')
		script(src='lib/swfobject.js', type='text/javascript')
		script(src='lib/particle.js', type='text/javascript')
		script(src='/socket.io/socket.io.js', type='text/javascript')
		script(src='lib/jquery.qrcode.js', type='text/javascript')

		script
			var sessionUser = !{user};

		script(src='javascripts/app.js', type='text/javascript')
		script(src='javascripts/services.js', type='text/javascript')
		script(src='javascripts/app-controllers.js', type='text/javascript')
		script(src='javascripts/playlist-controllers.js', type='text/javascript')
		script(src='javascripts/playlists-controllers.js', type='text/javascript')
		script(src='javascripts/directives.js', type='text/javascript')
		script(src='javascripts/filters.js', type='text/javascript')


	body(ng-controller='MainCtrl')

		script(type='text/ng-template', id='video-tmpl')
			.img(back-img='{{video.thumbnail.hqDefault}}', ng-transclude)
				.title-container {{video.title}}
				.duration {{video.duration | secToTime}}

		// player
		.player-container.hidden
			div(
				youtube-player, 
				video='playback.currentVideo', 
				current-time='playback.currentElapsedTime',
				player-state='playback.playerState',
				volume='playback.volume',
				mute='playback.mute',
				seek-to='playback.seekTo',
				quality-levels='playback.qualityLevels',
				current-quality='playback.currentQuality'
			)

		#video-overlay

		#main-navbar.navbar.navbar-inverse
			.navbar-inner.navbar-fixed-top
				span.brand YoutubeInstantPlaylist

				ul.nav(ng-controller='PlayerControlsCtrl')
					li
						a.dropdown-toggle(
							ng-click='playback.mute = !playback.mute'
							data-hover='dropdown',
							data-target="#"
						)
							i.icon-white(
								ng-class='{"icon-volume-up" : playback.volume > 50 && !playback.mute, "icon-volume-down" : playback.volume <= 50  && !playback.mute, "icon-volume-off": playback.mute}'
							)
						ul.dropdown-menu.volume-dropdown
							li(no-click)
								.progress(vertical-progress-bar='playback.volume')
									.bar.bar-success

					li.divider-vertical

					li(ng-class='{disabled:playback.position <= 0}')
						a.dropdown-toggle(
							ng-click='previous()',
							data-hover='dropdown',
							data-target="#"
						)
							i.icon-white.icon-step-backward

						ul.dropdown-menu.video-dropdown
							li(video-thumbnail='playlist.items[playback.position -1].video')
					li
						a(ng-class='{disabled: playlist.items.length == 0}')
							i.icon-white(
								ng-class='{"icon-pause": playback.playerState == 1 || playback.playerState == -1, "icon-video-loader": playback.playerState == 3, "icon-play": playback.playerState == 2 || playback.playerState == 5 || playback.playerState == 4}',
								ng-click='togglePlay()'
							)
					li(ng-class='{disabled: playlist.items.length - 1 <= playback.position || playlist.items.length == 0}')
						a.dropdown-toggle(
							ng-click='next()',
							data-hover='dropdown'
						)
							i.icon-white.icon-step-forward
						ul.dropdown-menu.video-dropdown
							li(video-thumbnail='playlist.items[playback.position + 1].video')

					li.divider-vertical

					li
						a(data-hover='dropdown') 
							i.icon-white.icon-cog
						
						ul.dropdown-menu.quality-dropdown
							li.dropdown-submenu
								a {{displayQualities[playback.currentQuality] || 'Default'}}

								ul.dropdown-menu
									li(
										ng-repeat='quality in playback.qualityLevels',
										ng-class='{active: quality == playback.currentQuality}'
									)
										a(ng-click='setQuality(quality)') {{displayQualities[quality]}}
									li
										a(ng-click='setQuality("default")') Default

					li.divider-vertical

					li(ng-show='playback.currentVideo.id')
						.current-title(title='{{playback.currentVideo.title}}') {{playback.currentVideo.title}}
						.video-time {{playback.currentElapsedTime | secToTime}}
						.current-progress.progress(
							song-progress-bar='{{playback.currentElapsedTime / playback.currentVideo.duration * 100}}', 
							change='seekTo(value)'
						)
							.bar.bar-success
						.video-time {{playback.currentVideo.duration | secToTime}}

				div(ng-controller='UserCtrl')
					ul.nav.pull-right(ng-show='!user.infos')
						li
							a(href='/auth/facebook/') Connect with facebook
					ul.nav.pull-right(ng-show='user.infos')
						li
							a(href='#/playlists') My playlists


		.main-container
			div(ng-view)