!!! 5
html(lang='en', ng-app='app')
	head
		meta(charset='utf-8')
		title YoutubeInstantPlaylist
		
		link(href='lib/bootstrap/less/bootstrap.css', rel='stylesheet', type='text/css')
		link(href='stylesheets/app/app.css', rel='stylesheet', type='text/css')

		script(src='lib/jquery/jquery-1.7.1.min.js', type='text/javascript')
		script(src='lib/jquery/jquery-ui-1.8.21.custom.min.js', type='text/javascript')
		script(src='lib/jquery/jquery-ui-sortables-custom.js', type='text/javascript')
		script(src='lib/bootstrap/js/bootstrap.min.js', type='text/javascript')
		script(src='lib/angular.min.js', type='text/javascript')
		script(src='lib/angular-ui/angular-ui.js', type='text/javascript')
		script(src='lib/jquery.tinyscrollbar.min.js', type='text/javascript')
		script(src='lib/swfobject.js', type='text/javascript')
		script(src='lib/particle.js', type='text/javascript')
		script(src='/socket.io/socket.io.js', type='text/javascript')
		script(src='lib/jquery.qrcode.js', type='text/javascript')

		script
			var sessionUser = !{user};

		script(src='javascripts/app.js', type='text/javascript')
		script(src='javascripts/services.js', type='text/javascript')
		script(src='javascripts/app-controllers.js', type='text/javascript')
		script(src='javascripts/playlist-controllers.js', type='text/javascript')
		script(src='javascripts/playlists-controllers.js', type='text/javascript')
		script(src='javascripts/directives.js', type='text/javascript')
		script(src='javascripts/filters.js', type='text/javascript')


	body(ng-controller='MainCtrl')

		// player
		.player-container.hidden
			div(
				youtube-player, 
				video='playback.currentVideo', 
				current-time='playback.currentElapsedTime',
				player-state='playback.playerState',
				volume='playback.volume'
			)

		.navbar.navbar-inverse
			.navbar-inner.navbar-fixed-top
				span.brand YoutubeInstantPlaylist

				ul.nav
					li
						a.dropdown-toggle(data-toggle='dropdown')
							i.icon-volume-up.icon-white
						ul.dropdown-menu.volume-dropdown
							li 
								.progress(vertical-progress-bar='playback.volume', no-click)
									.bar

					li.divider-vertical

					li
						a
							i.icon-white.icon-step-backward
					li
						a
							i.icon-white(
								ng-class='{"icon-pause": playback.playerState == 1, "icon-play": playback.playerState != 1}',
								ng-click='playback.playing = !playback.playing'
							)
					li
						a
							i.icon-white.icon-step-forward
					li
						.current-title {{playback.currentVideo.title}}

				div(ng-controller='UserCtrl')
					ul.nav.pull-right(ng-show='!user.infos')
						li
							a(href='/auth/facebook/') Connect with facebook
					ul.nav.pull-right(ng-show='user.infos')
						li
							a(href='#/playlists') My playlists


		.main-container
			div(ng-view)